@model  MLM_app.Models.ReciptionMethod
@{
    ViewBag.Title = "News Editing";
    Layout = "~/Views/Shared/_LayoutMLM.cshtml";
}

<h2 class="title text-center">News Editing</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ReciptionMethodId)

        <div class="form-group">
            @Html.LabelFor(model => model.EnReceptionMethodName, "Page group title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
         @Html.EditorFor(model => model.EnReceptionMethodName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnReceptionMethodName, "Page group title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
         @Html.EditorFor(model => model.EnReceptionMethodName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ReceptionMethodText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceptionMethodText, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReceptionMethodText, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
                @Html.ActionLink("Back to the menu", "Index")
            </div>
        </div>
    </div>
}
