@using MLM_app.Helpers
@model IEnumerable<MLM_app.ViewModels.ShoppingCartViewModel>
@{
    ViewBag.Title = "Shopping cart";
    Layout = "~/Views/Shared/_LayoutMLM.cshtml";
}

<h2 class="title text-center">@ViewBag.Title</h2>
<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td>Product code</td>
                        <td>Product title</td>
                        <td>Price</td>
                        <td>Discount</td>
                        <td>Quantity</td>
                        <td class="price">Sum</td>
                        <td colspan="3">Operation</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var count = 0;
                        var price = 0;
                    }
                    @foreach (var item in Model)
                    {

                        count += item.ProductCount;
                        price += item.ProductCount * item.ProductPrice;

                        <tr>
                            <td>@item.ProductID</td>
                            <td>@item.ProductTitle</td>
                            <td>@item.ProductPrice.ToString("#,0 $")</td>
                            <td>@item.Off <span>Percentage</span></td>
                            <td>@item.ProductCount</td>
                            <td>@Html.TotalPrice(item.ProductCount, item.ProductPrice)</td>
                            <td>@Html.ActionLink("reduce the number", "SubCount", new { id = @item.ProductID }, new { @class = "" })</td>
                            <td>@Html.ActionLink("Increase quantity", "AddCount", new { id = @item.ProductID }, new { @class = "" })</td>
                            <td>@Html.ActionLink("Delete", "Delete", new { id = @item.ProductID }, new { @class = "" })</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@count</td>
                        <td>Sum: @string.Format("{0:#,0 $}", price != null ? price : 0)</td>
                    </tr>
                    <tr>
                        <td>

                        </td>  
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@count</td>
                        <td>
                                                        <div class="finalprice  ">
                                                            <div class="total clearfix" style=" text-align: left;">

                                                                <span class="label-price">
                                                                    @string.Format("{0:#,0 $}", price != null ? price : 0)
                                                                    <span class="toman">$</span>
                                                                </span>

                                                                <span class="label"> : Total sum of your purchase   </span>




                                                            </div>
                                                                  <div class="sep"></div>
                                                                  <div class="payable clearfix">
                                                                      <span class="label green">Amount payable:</span>
                                                                      <span class="label-price green">
                                                                          @string.Format("{0:#,0 $}", price != null ? price : 0)
                                                                          <span class="toman green">$</span>
                                                                      </span>

                                                                      <span class="label-price green">
                                                                          You will specify how to send the product in the next steps of the purchase
                                                                      </span>
                                                                  </div>

                                                              </div>
                        </td>
                    </tr>

                </tfoot>
            </table>

            @if (Model.Any())
            {
                @Html.ActionLink("Next steps", "Finalize", "ShoppingCart", new { @class = "btn btn-success pull-left" })
            }
        </div>
    </div>
</section> <!--/#cart_items-->