@model MLM_app.ViewModels.CommentViewModel
@*@model MLM_app.Models.Comment*@


<div class="category-tab shop-details-tab" id="insertCommentForm">
    <!--category-tab-->
    <div class="col-sm-12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#reviews" data-toggle="tab">Send نظر</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane  active in" id="reviews">
            <div class="col-sm-12">

                <p><b>Your comment </b></p>

                @using (Html.BeginForm("InsertComment", "Comments", FormMethod.Post, new { @class = " row form-horizontal " }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.Hidden("productId")
                    @Html.Hidden("pageID")
                    @Html.Hidden("sliderId")
                    @Html.Hidden("str")
                    <input type="hidden" name="ParentId" id="ParentId" value="" />


                    <div class="form-horizontal" style="width:700px">

                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @placeholder = "Name", @maxlength = "100", @class = " form-control" } })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.ValidationMessageFor(model => model.Author)
                            </div>
                        </div>

                        @*<span>
                    @Html.EditorFor(model => model.AuthorEmail, new { htmlAttributes = new { @placeholder = @ViewResurces.Resource.email, @maxlength = "100", @class = " form-control" } })
                    @Html.ValidationMessageFor(model => model.AuthorEmail)
                </span>*@

                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.AuthorEmail, new { htmlAttributes = new { @placeholder = "Emal", @maxlength = "100", @class = " form-control" } })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.ValidationMessageFor(model => model.AuthorEmail)
                            </div>
                        </div>

                        @Html.TextAreaFor(model => model.CommentContent, new { @placeholder = "Comment", @class = " form-control" })
                        @Html.ValidationMessageFor(model => model.CommentContent)

                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Captcha, new { @class = "control-label col-md-2" })*@
                            <div class="form-group col-md-4">
                                <input type="button" value="" id="refresh" class="btn btn-default" />
                                <img alt="Captcha" id="imgcpatcha" src="@Url.Action("captchaimage","Captcha")" />
                                @Html.ValidationMessageFor(model => model.Captcha)
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Captcha, new { htmlAttributes = new { @placeholder = "result" } })
                            </div>

                        </div>


                        <button name="sendComment" id="sendComment" type="submit" class="btn btn-default pull-left">
                            Submit
                        </button>
                    </div>
                }


            </div>
        </div>

    </div>
</div><!--/category-tab-->
