@using MLM_app.Helpers
@using MLM_app.Models;
@using Microsoft.AspNet.Identity

@model MLM_app.Models.ApplicationUser
@{
    ViewBag.Title = "My Orders";
    Layout = "~/Views/Shared/_LayoutMLM.cshtml";
}
@{
    var db = new ApplicationDbContext();
    string userId = User.Identity.GetUserId();
}



<h2 class="title text-center">Edit User that have not receved   Email </h2>

<h2 class="title text-center">User Should log in again to get an  Email  </h2>

<div class="form-group">
    <label>User Name</label>
    <p class="form-control-static">@Model.UserName</p>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(false)
        @Html.HiddenFor(x => x.Id)



        <div class="form-group">
            <label>Please Enter Mew Email </label>
            @Html.EditorFor(x => x.Email, new { @class = "form-control" })
        </div>



        <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
                @Html.ActionLink("Back to the menu", "Index")
            </div>
        </div>
    </div>
}
