@model IEnumerable<MLM_app.Models.Contact>

@{
    ViewBag.Title = "Contact us list";
    Layout = "~/Views/Shared/_LayoutMLM.cshtml";
}

<h2 class="title text-center">Contact us list</h2>

<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr class="cart_menu text-center">
                        <td>
                            @Html.DisplayNameFor(model => model.Name)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Email)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Subject)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.InsertDateTime)
                        </td>
                        <td>Operation</td>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @if (!Model.Any())
                    {
                        <tr>
                            <td colspan="5">No information available for display.</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InsertDateTime)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ContactId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ContactId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ContactId })
                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
</section>