@model MLM_app.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutMLM.cshtml";
}

<h2 class="title text-center">Change password</h2>

@{Html.RenderPartial("_AlertPartial");}
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<h4>To change your password, enter your previous password.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row mb-3">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.OldPassword, new { htmlAttributes = new { @placeholder = "Previous password" } })
        </div>
    </div>
    <div class="row mb-3">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.NewPassword, new { htmlAttributes = new { @placeholder = "New password" } })
        </div>
    </div>
    <div class="row mb-3">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @placeholder = "Repeat new password" } })
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-primary" />
        </div>
    </div>
}